.generic_NCBI-cds,
.plus-generic_NCBI-cds,
.minus-generic_NCBI-cds,
.plus-ogs-cds,
.minus-ogs-cds  {
    background-color: #444444;
    border: 1px solid #555;
    height: 80%;
    top: 10%;
}

.generic_NCBI-utr,
.plus-generic_NCBI-utr,
.minus-generic_NCBI-utr,
.plus-ogs-utr,
.five_prime_utr,
.plus-five_prime_utr,
.minus-five_prime_utr,
.three_prime_utr,
.plus-three_prime_utr,
.minus-three_prime_utr,
.minus-ogs-utr {
    height: 60%;
    top: 20%;
    background-color: #777777;
}

.feature-render  {
    position: absolute;
    min-width: 1px;
    width: 100%;
    z-index: 2;  
}

.gray-center-30pct {
    background-color: gray;
    height: 30%;
    top: 35%;
}

.plus-arrowhead {
    position: absolute;
    width: 12px;
    height: 100%;
    background-image: url('../img/plus-arrowhead.png');
    background-repeat: no-repeat;
    background-position: left center;
    z-index: 15;

}

.minus-arrowhead {
    position: absolute;
    width: 12px;
    height: 100%;
    background-image: url('../img/minus-arrowhead.png');
    background-repeat: no-repeat;
    background-position: left center;
    z-index: 15;

}

.container-16px,
.plus-container-16px,
.minus-container-16px  {
    height: 16px;
    background-color: transparent;
}

.container-100pct,
.plus-container-100pct,
.minus-container-100pct {
    height: 100%;
    background-color: transparent;
}

.container-60pct,
.plus-container-60pct,
.minus-container-60pct {
    height: 60%;
    top: 20%;
    background-color: transparent;
}

.annot{

}

.stop_codon_read_through,
.plus-stop_codon_read_through,
.minus-stop_codon_read_through {
    position: absolute;
    background-color: #FF0000;
    border: 1px solid #FF0000;
    height: 100%;
    top: 0%;
}
