.jbrowse .generic_NCBI-cds,
.jbrowse .plus-generic_NCBI-cds,
.jbrowse .minus-generic_NCBI-cds,
.jbrowse .plus-ogs-cds,
.jbrowse .minus-ogs-cds  {
    background-color: #444444;
    border: 1px solid #555;
    height: 80%;
    top: 10%;
}

.jbrowse .generic_NCBI-utr,
.jbrowse .plus-generic_NCBI-utr,
.jbrowse .minus-generic_NCBI-utr,
.jbrowse .plus-ogs-utr,
.jbrowse .five_prime_utr,
.jbrowse .plus-five_prime_utr,
.jbrowse .minus-five_prime_utr,
.jbrowse .three_prime_utr,
.jbrowse .plus-three_prime_utr,
.jbrowse .minus-three_prime_utr,
.jbrowse .minus-ogs-utr {
    height: 60%;
    top: 20%;
    background-color: #777777;
}

.jbrowse .feature-render  {
    position: absolute;
    min-width: 1px;
    width: 100%;
    z-index: 2;  
}

.jbrowse .gray-center-30pct {
    background-color: gray;
    height: 30%;
    top: 35%;
}

.jbrowse .plus-arrowhead {
    position: absolute;
    width: 12px;
    height: 100%;
    background-image: url('../img/plus-arrowhead.png');
    background-repeat: no-repeat;
    background-position: left center;
    z-index: 15;

}

.jbrowse .minus-arrowhead {
    position: absolute;
    width: 12px;
    height: 100%;
    background-image: url('../img/minus-arrowhead.png');
    background-repeat: no-repeat;
    background-position: left center;
    z-index: 15;

}

.jbrowse .container-16px,
.jbrowse .plus-container-16px,
.jbrowse .minus-container-16px  {
    height: 16px;
    background-color: transparent;
}

.jbrowse .container-100pct,
.jbrowse .plus-container-100pct,
.jbrowse .minus-container-100pct {
    height: 100%;
    background-color: transparent;
}

.jbrowse .container-60pct,
.jbrowse .plus-container-60pct,
.jbrowse .minus-container-60pct {
    height: 60%;
    top: 20%;
    background-color: transparent;
}

.annot{

}

.jbrowse .stop_codon_read_through,
.jbrowse .plus-stop_codon_read_through,
.jbrowse .minus-stop_codon_read_through {
    position: absolute;
    background-color: #FF0000;
    border: 1px solid #FF0000;
    height: 100%;
    top: 0%;
}
